{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %}
    {% block head %}
        <title>All users</title>
    {% endblock %}
    {% block body %}
        <div class="container-fluid">
            <p>{{ pagination.links }}</p>
        </div>
        <div class="table-responsive">

            <table class="table table-dark">
          <thead>
            <tr>
              <th scope="col"><h5>ID</h5></th>
              <th scope="col"><h5>NAME</h5></th>
              <th scope="col"><h5>AGE</h5></th>
              <th scope="col"><h5>E-Mail</h5></th>
            </tr>
          </thead>
          <tbody>
          {% for user in users %}
            <tr>
              <th scope="row"><p>{{ user.id }}</p></th>
              <td><p>{{ user.name }}</p></td>
              <td><p>{{ user.age }}</p></td>
              <td><p>{{ user.mail }}</p></td>
            </tr>
          {% endfor %}
            </tbody>
        </table>
       </div>
       <div class="container-fluid">
           {{ render_form(form) }}
       </div>

{% endblock %}